@mixin borderBtn(){
    border: none;
    background-color: $color_purple;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: $fontKodeMono;
}

@mixin animationZoom(){
    animation: zoom-animation 2.5s ease-in-out infinite;
    @keyframes zoom-animation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
}

@mixin stars{
    animation: animate 10s ease-out forwards;
    @keyframes animate {
        0% {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
        }
      
        80% {
          opacity: 1;
        }
      
        100% {
          transform: translateY(100vh) rotate(360deg);
          opacity: 0;
        }
    }
}

@mixin borderAnimation {
    border : 3px solid transparent;
    font-family: $fontKodeMono;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: $color_white;
    font-size: $fontSizeText;
    animation: borderAnimation 1s infinite ease-out; /* Animation infinie en boucle */
    @keyframes borderAnimation {
        0% {
            border-color: $color_yellow; /* Couleur de depart (vert) */
        }
        25% {
            border-color: $color_green; /* Couleur intermediaire */    
        }
        50% {
            border-color: $color_orange; /* Couleur intermediaire */
        }
        100% {
            border-color: $color_yellow; /* Couleur finale (rouge) */
        }   
    }
}

