// color
$color_white: #F7F4EF;
$color_green: #00A859;
$color_black: #040404;
$color_purple: #7B63AA;
$color_yellow: #FCD05B;
$color_red: #D15D64;
$color_orange: #E88334;

// font size
$fontSizeH1: 40px;
$fontSizeLink: 30px;
$fontSizeText: 25px;
$fontSizeH2: 35px;
$fontSizeH3: 30px;
$fontSizeText2: 20px;

// font family
$fontKodeMono: 'Kode Mono', monospace;
