// color
$color_white: #F7F4EF;
$color_green: #00A859;
$color_black: #040404;
$color_purple: #7F48E0;

// font size
$fontSizeH1: 40px;
$fontSizeLink: 30px;
$fontSizeText: 25px;
$fontSizeH2: 35px;
$fontSizeH3: 30px;
$fontSizeText2: 20px;

// font family
$fontKodeMono: 'Kode Mono', monospace;
