@import"../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variable";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

// class for script.js
.letter {
    opacity: 0;
    @include transitionLetter();
}

.active{
    opacity: 0;
}

// body
body{
    margin: 0;
    background-color: $color_black;
}

section{
    background-color: aqua;
    padding: 500px;
}

// header
header {
    position: relative;
    background-image: url("../../images/bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &_info{
        padding: 20px;
        color: $color_white;
    }
}

#date, #hour {
    text-align: center;
    color: $color_white;
    font-size: $fontSizeText;
    font-family: $fontKodeMono;
    margin-top: 20px;
}

.presentation{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    .presentationText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        &_title{
            font-family: $fontKodeMono;
            color: $color_yellow;
            font-size: $fontSizeH1;
        }
        &_text{
            font-family: $fontKodeMono;
            color: $color_white;
            font-size: $fontSizeText;
        }
        &_link{
            text-decoration: none;
            @include borderBtn();
            color: $color_white;
       }
       .presentationText_network{
            &_link{
                margin: 30px;
                color: $color_white;
                font-size: $fontSizeLink;
                @include animationZoom();
            }
        }
    }
}
// fin header

// 






