@import"../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variable";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

// // class for script.js
.active {
    opacity: 1;
    transition: opacity 1s ease-in-out; 
}

.inactive{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
// button for stars
.star{
    position: absolute;
    top: -20px;
    color: #fff;
    @include stars();
  }
  
  .star::before {
    content: "\f005";
    font-family: FontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
  }

// body
body{
    margin: 0;
    cursor: grab;
    background-color: $color_black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/star-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

// header
header {
    position: relative;
    background-image: url("../../images/star-bg.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    .container{
        margin-top: 10px;
        &_btnStars{
            color: $color_white;
            background-color: $color_blue;
            font-family: $fontKodeMono;
            border-radius: 5px;
        }
    }
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &_info{
            padding: 20px;
            color: $color_white;
        }
    }
    #date, #hour {
        text-align: center;
        color: $color_white;
        font-size: $fontSizeText;
        font-family: $fontKodeMono;
        margin-top: 20px;
    }
    .presentation{
        margin: auto;
        width: 80%;
        .presentationText{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_presentation{
                margin-top: 150px;
                margin-bottom: 150px;
                font-family: $fontKodeMono;
                color: $color_white;
                font-size: $fontSizeH1;
                &:hover{
                    cursor: pointer;
                }
                @media screen and (max-width: 768px) {
                    font-size: $fontSizeText;
                }
            }
            &_title2{
                position: absolute;
                color: $color_yellow;
                font-family: $fontKodeMono;
                font-size: $fontSizeText;
                padding: 5px;
                top: 350px;
                @media screen and (max-width: 768px) {
                    position: absolute;
                    top: 300px;
                    font-size: $fontSizeText;
                }
            }
            &_link{
                text-decoration: none;
                @include borderBtn();
                color: $color_white;
           }
           &_forme{
                border: 1px solid $color_yellow;
                padding: 10px;
                position: absolute;
                left: -175px;
                top: -95px;
                width: 100px;
                padding: 100px; 
                background-color: #ffffff;
                background-color: $color_yellow;
           }
           .presentationText_network{
                &_link{
                    margin: 30px;
                    color: $color_white;
                    font-size: $fontSizeLink;
                    @include animationZoom();
                }
            }
        }
    }
}

main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/star-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

// main
#Apropos {
    gap: 10px;
    padding: 90px;
    @media screen and (max-width: 768px) {
        padding: 30px;
    }
    .textApropos{
        &_title{
            font-family: $fontKodeMono;
            color: $color_blue;
            font-size: $fontSizeH2;
            @media screen and (max-width: 768px) {
                font-size: $fontSizeText;
            }
        }
        &_text{
            line-height: 70px;
            font-family: $fontKodeMono;
            color: $color_white;
            font-size: $fontSizeText;
            @media screen and (max-width: 768px) {
                font-size: $fontSizeText2;
            }
            &--typed{
                color: $color_yellow;
            }
        }
    }
}

#competences{
    .btnDisplayCompetences{
        text-align: center;
        width: 50%;
        margin: auto;
        &_btn{
            @include borderBtn();
            color: $color_white;
            font-size: $fontSizeLink;
            @include moveX();
            @media screen and (max-width: 768px) {
                width: 50vh;
                font-size: 20px;
                @include moveX2();
            }
        }
    }
    .competences{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow: hidden;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin: auto;
            flex-direction: column;
            gap: 20px;
        }
        .item{
            background-color: rgba($color_white, 0.2);
            width: 400px;
            padding: 10px;
            height: 400px;
            border-radius: 10px;
            transform: translateX(-100px);
            opacity: 0;
            @media screen and (max-width: 768px) {
                border-radius: 10px;
                margin: auto;
                width: 90%;
            }
            &_title{
                font-family: $fontKodeMono;
                color: $color_yellow;
                font-size: $fontSizeH3;
            }
            &_lists{
                font-family: $fontKodeMono;
                color: $color_white;
                font-size: $fontSizeText;
            }
        }
    }
}

#projets{
    margin-top: 200px;
    margin-left: 10px;
    @media  screen and (max-width: 768px) {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    .projets{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 60vh;
        }
        .imageProjet{
           width: 80%;
           position: relative;
           .img{
            @media screen and (max-width: 768px) {
                position: absolute;
                top: 300px;
            }
           }
        }
        .listsProjet{
            width: 100%;
            color: $color_white;
            font-family: $fontKodeMono;
            font-size: $fontSizeText;
            width: 60%;
            &_title{
                margin-left: 100px;
                @media screen and (max-width: 768px) {
                    margin-left: 0px;
                }
            }
            &_lists{
                margin-left: 100px;
                list-style-type: none;
                padding: 0%;
                margin-top: 20px;
                @media screen and (max-width: 768px) {
                    margin-left: 0%;
                    margin-bottom: 100px;
                    width: 10vh;
                }
                .phpList, .fitList, .lensList, .shopList{
                    border-top: 1px solid $color_yellow;
                    border-bottom: 2px solid $color_yellow;
                    padding: 20px;
                    margin-right: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                    @media screen and (max-width: 768px) {
                        margin-right: 0px;
                        width: 56vh;
                    }
                }
                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100vh;
                }
            }
        }
    }
}


footer{
    margin-top: 150px;
    .footerText{
        font-family: $fontKodeMono;
        color: $color_blue;
    }
}





